---
import MainHead from "@root/layouts/mainHead.astro"
import 'animate.css'
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import ProgressBar from "@components/scrollProgressBar.astro"
import SquareLines from "@components/square-lines.astro";
import BackToTopBtn from '@root/components/backToTopButton.astro'
import { SITE_TITLE, 
        SITE_DESCRIPTION, } from "@root/constants"

const { 
  title=SITE_TITLE, 
  description=SITE_DESCRIPTION, 
  image, entry, robots } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} {image} {entry} {robots} />
  <body class="antialiased bg-white dark:bg-neutral-950">
    <Fragment>
      <SquareLines />
      <Navbar />
      <ProgressBar />
      <slot />
    </Fragment>
    <Footer />
    <script src="@root/assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
    <BackToTopBtn />
  </body>
</html>


<style>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }
</style>